{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container text-center">
      <h1 class="heading">Select Movie</h1>
    {% for movie in movies:%}
    <div class="card text-center">
      <div class="front" style="background-image: url('https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{movie['poster_path']}}');">
      </div>
      <div class="face back">
        <div>
            <div class="title">{{movie.title}} <span class="release_date">{{movie['release_date'].split("-")[0]}}</span></div>
            <br>
            <br>
            <div>
                <p class="overview">
                    {{movie['overview']}}
                </p>
            </div>

          <a href="{{url_for('find_movie', id=movie.id)}}" class="button">Add</a>

        </div>
    </div>
    </div>
<!--     <p>-->
<!--      <a href="{{url_for('find_movie', id=movie.id)}}"> {{movie.title}} - {{movie.release_date.split('-')[0]}}</a>-->
<!--    </p>-->
    {% endfor%}

</div>
{% endblock %}